<div class="visits">
  {{#each clusters as |clusterVisits|}}
	{{history-cluster query=query visits=clusterVisits logoclass="big" hasNoSortedVisits=hasNoSortedVisits onDelete=(action "deleteVisit")}}
  {{/each}}

  <button class="delete-session-btn" {{action "deleteSession"}}
    {{action "markForDeletion" on="mouseEnter"}}
    {{action "unMarkForDeletion" on="mouseLeave"}} title="{{t 'history.delete-this-section'}}">
  </button>
</div>
